DATABASE_URL="mysql://4Tndgz53RB2yLex.root:JfsIfxonvxnYU6zC@gateway01.eu-central-1.prod.aws.tidbcloud.com:4000/arcvan_gh?sslaccept=strict"
JWT_ACCESS_SECRET="a8f3k29dj2ks8fh3nz9c7x2vb5m1qwer"
JWT_REFRESH_SECRET="p9x2mz7vb3nc5k8jd2f9a3s8g1hqwtyu"
CLOUDINARY_CLOUD_NAME="qnpcimhb"
CLOUDINARY_API_KEY="833997574594987"
CLOUDINARY_API_SECRET="ZMOnRik2xC0Fklyz500Wi07SCwM"